footer {   
    flex-direction: column;  
    padding: 0 50px;
    box-shadow: 0px -7px 10px rgba(0, 0, 0, 0.04);
    margin-top: 40px;
}

.contakt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 70px;


}

.linkedin,
.facebook,
.meil {
    font-size: 30px;
    font-weight: 700;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;

}

.meil {
    position: relative;
    font-size: 12px;
    padding-top: 12px;
    font-weight: 500;
    border-radius: 2px;
    width: 50px;
    height: 30px;
}

.meil::after,
.meil::before {
    position: absolute;
    content: '';
    background-color: var(--text);
    opacity: .05;
    height: 2px;
    width: 26px;
}

.meil::after {
    left: 0;
    top: 6px;
    transform: rotate(20deg);
}

.meil::before {
    right: 0;
    top: 6px;
    transform: rotate(160deg);
}

.autchor{
    height: 50px;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: .6px;
}