@media(max-width: 1300px) {
    .logo img {
        height: 30px;
    }

    .chapter {
        max-width: 1000px;

    }
}

@media(max-width: 1020px) {
    header {
        font-size: 16px;
    }

    header .left-side {
        width: 70%;
    }

    .logo img {
        height: 25px;
    }

    .chapter {
        max-width: 700px;
    }

    .bookmark h3 {
        font-size: 14px;
    }

    .content h4 {
        font-size: 22px;
    }

    .content h5 {
        font-size: 18px;
    }
}

@media(max-width: 767px) {
    header {
        padding: 0 20px;
    }

    header .left-side {
        position: relative;
        width: auto;
        display: block;
        padding: 10px;

    }

    .user {
        width: 20%;
    }

    .line {
        width: 40px;
        height: 23px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .line div {
        width: 35px;
        height: 2px;
        background-color: var(--text);

    }

    .sub-page .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sub-page .logo img {
        margin-top: 50px;
    }

    .logo img {
        height: 50px;
    }

    .menu {
        display: none;
    }

    .menu-active {
        display: block;
        position: absolute;
        top: 63px;
        left: 0;
        width: 200px;
        height: auto;

    }

    .menu-active p {
        margin-bottom: 5px;
        padding: 10px;
        background-color: rgba(168, 231, 252, 0.75);
    }

    .chapter {
        margin: 45px auto 0;
        max-width: 400px;
    }

    .bookmark h3 {
        left: 0;
        bottom: 0;
        width: 50px;
        min-width: 50px;
        height: 120px;
        border-radius: 0;
        padding: 2px 20px 2px 10px;
        overflow: hidden;
        font-size: 0;
    }

    .start-page .content h3 {
        font-size: 24px;
        color: var(--logo-color);
        text-shadow: 0 0px 9px rgba(0, 0, 0, 0.1);
    }

    .content h4 {
        margin-top: 20px;
    }

    .sub-page .title {
        line-height: 45px;
        font-size: 30px;
    }

    .sub-page h2 {
        line-height: 32px;
        font-size: 18px;
        letter-spacing: .4px;
        text-align: justify;
    }

    .sub-page h3 {
        margin: 30px 0;
        font-size: 16px;
    }

    .sub-page p {
        line-height: 30px;
        font-size: 16px;
    }

    .sub-page .content .first {
        margin-top: 0;
    }

    .sub-page .title {
        margin-top: 0;
    }

    .sub-page .contakt {
        width: 270px;
    }

    .linkedin,
    .facebook,
    .meil {
        font-size: 20px;
        font-weight: 600;
        width: 30px;
        height: 30px;
    }

    .meil {
        position: relative;
        font-size: 11px;
        font-weight: 600;
        border-radius: 2px;
        width: 45px;
        height: 26px;
    }

    .sub-page .btn-back {
        position: inherit;
    }

    .sub-page .btn-back {
        width: 55px;
        height: 28px;
        margin-top: 0;
        font-size: 12px;
    }
}

@media(max-width: 400px) {
    .user {
        width: 30%;
    }

    .chapter {
        margin: 45px auto 0;
        max-width: 270px;
    }

    .content h4 {
        font-size: 18px;
        line-height: 25px;
    }

    .content h5 {
        font-size: 16px;
        line-height: 25px;
    }

    .content p {
        font-size: 16px;

    }
}
