@import 'vars.css';
@import 'header.css';
@import 'bubbles.css';
@import 'mirror.css';
@import 'footer.css';
@import 'space_bubbles.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    color: var(--text);
}

body {
    min-height: 100vh;
    height: auto;
   
}

a {
    text-decoration: none;
}

header,
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
     background-color: white; 
}

.wrapper {
    width: 100%;
    max-width: 100%;
    margin: 70px auto 0px auto;
    min-height: 100vh;
}

.main-title {
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
    text-shadow: var(--title-shadow);
}

.block {
    margin: 40px auto 0 auto;
    width: 100%;
    height: auto;
    background-color: var(--bg-block);
    padding: 20px 0;
}


.title,
.subtitle {
    text-align: center;
}

.title {
    font-size: 28px;
    font-weight: 500;
    margin-top: 40px;
    text-shadow: var(--text-shadow);
}

.chapter {
    width: 1300px;
    max-width: 100%;
    margin: 55px auto 0;
}

.bookmark {
    display: flex;
}

.bookmark h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    width: auto;
    min-width: 150px;
    height: 50px;
    font-size: 16px;
    padding: 0 20px 0 10px;
    text-align: left;
    background-color: rgba(115, 255, 0, .25);
    border-radius: 0 30px 0 0;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, .1);
    position: relative;
    margin-right: 10px;
    font-weight: 500;
}


.bookmark h3.active {    
    background-color: rgba(0, 191, 255, 0.25);   
}

.content {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 200px;
    padding: 40px 20px;
    line-height: 25px;
    letter-spacing: .6px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    flex-direction: column;
}

 .content h4 {
    text-align: left;
    font-size: 24px;
    margin: 0;
    line-height: 35px;
}

 .content h5 {
    font-size: 20px;
    line-height: 40px;
    margin-top: 10px;
}

 .content p {
    font-size: 18px;
    text-align: justify;
    margin-top: 30px;
}

.btn {
    width: 110px;
    height: 35px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    margin-top: 40px;
    background-color: var(--btn);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    transition: .6s all;
}

.content .btn {
    align-self: flex-end;
}

.btn:focus-visible {
    outline: none !important;
}

.btn:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1), 0 2px 5px rgba(0, 0, 0, .07), 0 2px 5px rgba(0, 0, 0, .05);
    background-color: rgba(100, 170, 255, 0.2);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
